/*ESTILOS GENERALES*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Reboto", sans-serif;
}

/*NAVBAR*/
header {
    background-color: #07110e;
    padding: 20px;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav a {
    text-decoration: none;
}

header nav a img {
    width: 300px;
}

header nav h1 {
    margin-right: 30px;
    cursor: pointer;
}

/*BOTÓN*/
.button {
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    color: #FFFFFF !important;
    font-size: 14px;
    text-shadow: 1px 1px 0px #285C54;
    box-shadow: 3px 3px 3px #9fa6b2;
    padding: 6px 25px;
    margin: 0 70px;
    border-radius: 10px;
    border: 1px solid #398378;
    background: #398378;
    background: linear-gradient(to top, #398378, #42968A);
    transition: all 0.5s;
    cursor: pointer;
}

.button:hover {
    color: #FFFFFF !important;
    background: #398378;
    background: linear-gradient(to top, #265C4B, #589A8D);
    transform: scale(1.02);
}

/*SHOP CONTAINER*/
.shop {
    width: 100%;
    margin: 30px auto;
    gap: 30px;
    display: flex;
    justify-content: center;
}

/*CARD DE PRODUCTOS*/
.card {
    width: 16rem;
    height: 50vh;
    border-radius: 10px;
    box-shadow: 0px 1px 5px 0px #7e7e7e;
    overflow: hidden;
}

.card img {
    width: 100%;
    height: 70%;
    object-fit: cover;
}

.card div h5 {
    text-align: center;
    font-size: 22px;
}

.card div p {
    text-align: center;
    font-size: 18px;
    padding: 10px;
}

/*MODAL CONTAINER*/
.modal-container {
    width: 600px;
    max-height: 80vh;
    background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow: 0px 5px 12px 0px #666666;
    position: fixed;
    overflow: auto;
    top: 8vh;
    right: 70px;
}

.modal-container::-webkit-scrollbar {
    display: none;
}

.modal-container .modal-header {
    width: 600px;
    height: 40px;
    position: fixed;
    border-radius: 10px 0 0 0;
    background-color: #398378;
    text-align: center;
}

.modal-body {
    margin-top: 50px;
}

.modal-container .modal-body .carritoContenido {
    margin: 10px auto;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px #666666;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 95%;
    height: 14vh;
}

.modal-container .modal-body .carritoContenido img {
    width: 120px;
    height: 160px;
    object-fit: cover;
}

.modal-container .modal-body .carritoContenido h5 {
    font-size: 18px;
}

.modal-container .modal-body .carritoContenido p {
    font-size: 18px;
}

.modal-container .footer-carrito {
    position: sticky;
    height: 50px;
    bottom: 0;
    background-color: #398378;
    font-size: 18px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*BOTÓN ELIMINAR PRODUCTO*/
.boton-delete {
    margin: 0 20px;
    cursor: pointer;
}

/*BOTON SUMAR Y RESTAR PRODUCTOS*/
.restar {
    cursor: pointer;
}

.sumar {
    cursor: pointer;
}

/*BOTÓN CERRAR MODAL*/
.close {
    background: #17362c;
    color: #FFFFFF;
    line-height: 26px;
    position: absolute;
    right: 6px;
    text-align: center;
    top: 6px;
    width: 26px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 3px;
    cursor: pointer;
}

.close:hover {
    background: rgb(177, 48, 48);
    color: #FFFFFF;
}

/*BOTÓN PAGAR*/
.btn-pagar {
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    color: #000000;
    font-size: 14px;
    padding: 6px 25px;
    margin: 0 70px;
    border-radius: 5px;
    border: 1px solid #8abe53;
    background: #8abe53;
    transition: all 0.5s;
    cursor: pointer;
}

.btn-pagar:hover {
    transform: scale(1.02);
}

/*NOTIFICACIÓN DEL CARRITO*/
.cantidad-carrito {
    width: 28px;
    text-align: center;
    background-color: #8abe53;
    border-radius: 50%;
    color: black;
    font-size: 16px;
    padding: 4px;
    top: 55px;
    right: 40px;
    position: absolute;
    display: none;
}

/*--ESTILOS PAGINA COMPRA--*/
main > h1 {
    text-align: center;
    margin: 30px;

}
#formularioCompra {
    width: 70%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

#formularioCompra label {
    font-size: 18px;
    font-weight: bold;
    font-family: "Roboto", sans-serif;
}

#formularioCompra input {
    margin: 10px 0;
    width: 40%;
    padding: 10px;
    border-radius: 5px;
}

/* Estilos para la tabla */
table {
    margin: 50px auto;
    width: 70%;
    border-collapse: collapse;
    color: black;
    /* Texto blanco */
}

table th {
    font-family: "Reboto", sans-serif;
    font-size: 18px;
    font-weight: bold;
}

table,
th,
td {
    border: 1px solid black;
    /* Bordes blancos */
    font-family: "Reboto", sans-serif;
    font-size: 18px;
    font-weight: 500;
}

th,
td {
    padding: 8px;
    text-align: center;
}

/* Estilos para el enlace "Volver a la Tienda" */
.btn-backmain {
    display: inline-block;
    margin: auto;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #333;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.btn-backmain:hover {
    background-color: #555;
}

.cantidad {
    width: 100px;
    padding: 5px;
    font-weight: bold;
    font-size: 18px;
    text-align: center;

}
.img-lista {
    width: 17rem;
    height: 23vh;
}

.img-lista img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Estilos para el botón de confirmar compra */
#confirmarCompra {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

/* Estilos para el total */
#totalCarrito {
    font-size: 24px;
    margin-top: 20px;
}